<!--
The `concerto-remote-video` element provides embedded video.
@element concerto-content
@status alpha
-->
<polymer-element name="concerto-remote-video" attributes="path" constructor="ConcertoRemoteVideo" extends="concerto-content">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        height: 100%;
      }

      :host(.core-transition) {
        overflow: hidden;
      }

      #video {
        width: 100%;
        height: 100%;
      }
    </style>
    <iframe id="video" frameBorder="0"></iframe>
  </template>

  <script>
    Polymer({
      domReady: function() {
        this.$.video.src = this.path;
      }
    });
  </script>
</polymer-element>
<script> 
  registerContentType("concerto-remote-video", "ConcertoRemoteVideo");
</script>