<div style="width: 100%; height: 100%; text-align: center;">
  <% player_settings = {:end => content.duration, :rel => 0, :theme => 'light', :iv_load_policy => 3} %>
  <iframe id="player" type="text/html" width="100%" height="100%" src="<%=raw content.player_url(player_settings) %>" frameborder="0"></iframe>
</div>
