<% if content.config['thumb_url'].blank? %>
  <div class="grid-item with-shadow">
    <i class="ficon-facetime-video icon-4x"></i>
  </div>
<% else %>
  <div class="grid-item with-shadow" style="background-image:url(<%= content.config['thumb_url'] %>); background-size: cover; width: 60px; height: 60px;">
  </div>
<% end %>