
div.remote-video-info {
  padding: 1em;
}

div.remote-video-info img {
  float: left;
  max-width: 150px;
  max-height: 150px;
  margin: 0 5px 5px 0;
  border: solid 1px black;
}

div#video_id_hint {
  font-style: italic;
}

.auto-resizable-iframe {
  max-width: 420px;
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}